<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @provider.username %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @provider.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @provider.lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @provider.email %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
